.carrousel {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  height: 50vw;
  transform: scale(0);
  transition: transform 0.05s ease;
  z-index: 2;
}

.carrousel__x {
  background-color: transparent;
  color: #f5f5f5;
  position: absolute;
  right: -35px;
  top: -27px;
  z-index: 4;
  scale: 1.2;
}

.carrousel--ouvrir {
  transform: scale(1);
}
